<template>
  <div class="home-wrapper">
    <h1>{{ msg }}</h1>
    <p>Meanwhile feel free to interact with our <a href="https://www.facebook.com/stitchstylehb/" target="_blank">Facebook page</a></p>
     <address>
      <hr>
      <div>{{ building }}<br>
      {{ location }}
      {{ city }}, {{ state }}, {{ country }}<br>
      <strong>Pincode:</strong> {{ pin }}<br>
      <strong>Phone:</strong> {{ phone }}</div>

    </address>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      msg: 'Our website is coming soon',
      building: 'A-558, Sidharth Tower, Rd Number 1,',
      location: 'H B Town, Sodepur,',
      city: 'Kolkata',
      state: 'West Bengal',
      country: 'India',
      pin: '700110',
      phone: '9831307971',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-size: 300%;
  line-height: 1;
  margin: 3rem auto 0;
  text-align: center;
  text-transform: uppercase;
  color: rgb(224, 224, 224);
}

p {
 color: rgb(224, 224, 224);
}

a {
  color: rgb(224, 224, 224);
}

hr {
  border: 0;
  border-top: 1px dotted #1f2425;
}
@media screen and (max-width: 756px) {
  h1{
    font-size: 200%;
  }
}

address {
  color: #666f77;
}

</style>
